[user]
# BEGIN protected
	#signingkey = 0xB2F27B7221DCD363
# END protected
# BEGIN public
	#email = tkrizek@isc.org
	#name = Tom Krizek
	#signingkey = 0x01623B9B652A20A7
# END public
[gpg]
	program = gpg2
[commit]
# BEGIN protected
	#gpgsign = false
# END protected
# BEGIN public
	#gpgsign = true
# END public
[core]
	excludesfile = ~/.gitignore
[log]
	date = iso
[rebase]
	autoSquash = True
[diff]
	tool = kitty
	guitool = kitty.gui
[difftool]
	prompt = false
	trustExitCode = true
[difftool "kitty"]
	cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
	cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[checkout]
	defaultRemote = origin
