[user]
# BEGIN personal
	#signingkey = 0xB2F27B7221DCD363
# END personal
# BEGIN work
	#email = tomas.krizek@nic.cz
	#name = Tomas Krizek
	#signingkey = 0xA1FBA5F7EF8C4869
# END work
[gpg]
	program = gpg2
[commit]
# BEGIN personal
	#gpgsign = false
# END personal
# BEGIN work
	#gpgsign = true
# END work
[core]
	excludesfile = ~/.gitignore
[log]
	date = iso
[rebase]
	autoSquash = True
[diff]
	tool = kitty
	guitool = kitty.gui
[difftool]
	prompt = false
	trustExitCode = true
[difftool "kitty"]
	cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
	cmd = kitty kitty +kitten diff $LOCAL $REMOTE
